<div class="col-10 offset-1 about">
  <h1>About Ur Mojo</h1>

  <p>
    Ur Mojo was built by <a target="_blank" href="https://github.com/jvbigio/urmojo">Joe</a>, with the intention of inspiring readers and helping one find their mojo through positive inspirational quotes. Feel free to add your favorite quote in the contribute link.
  </p>
  <br />
  <p>
    Built with a mobile-first design, this database-powered quote generator uses the Ruby on Rails framework, HTML, and CSS. Git and GitHub was used for version control, and this awesome app was launched through Heroku.
  </p>
  <p>
    Learn how to build your own amazing apps <a target="_blank" href="https://www.thefirehoseproject.com"> here</a>.
  </p>
  <br />
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'joe.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Joe Bigio</h2>
      <br />
      <p>
        Joe is a web developer on a mission to create amazing apps that provide the best possible user experience. His goal is to create a possitive connection with users so that the whole experience is thoroughly enjoyable.  
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />

